.salmon-run {
  // margin: 64px auto 0;
  height: 100vh;
  overflow: auto;
  padding: 32px 0;
  background: url('../../asset/bg_Splatoon_2.png') repeat left top;
}


@-webkit-keyframes animate-steps {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2000px;
  }
}
@keyframes animate-steps {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2000px;
  }
}