header {
  height: 64px;
  line-height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  .header-box {
    width: 1080px;
    margin: 0 auto;
    & > div {
      font-size: 1.5rem;
    }
  }
}
