.card-box {
  width: $cardWidth;
  margin: 5rem auto;
  padding: 3rem 0;
  background-color: #ff5600;
  border-radius: 16px;
  background: url(../../../../asset/triangle-pink_2x.gif) repeat-x center center;
  background-size: 250px 2250px;
  animation: animate-steps 0.5s steps(3) infinite;
  animation-play-state: paused;
  position: relative;
  &:hover {
    animation-play-state: running;
  }
  .time-box {
    @include center-flex;
    flex-flow: row wrap;
    padding-bottom: 1rem;
    div {
      height: 32px;
      line-height: 32px;
      font-size: 2rem;
      color: beige;
      width: 80%;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
  .detail-box {
    @include center-flex;
    .stage-box {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      width: 70%;
      margin-bottom: 1rem;
      img {
        width: 95%;
      }
    }
    .weapon-box {
      width: 30%;
      @include center-flex;
      // img:not(:last-child) {
      //   margin-right: 2rem;
      // }
      span {
        width: 50%;
        @include center-flex;
        img {
          width: 128px;
          height: 128px;
          display: inline-block;
        }
      }
    }
    .reward-box {
      position: absolute;
      top: 16px;
      right: 32px;
      width: 100px;
      height: 100px;
      img {
        width: 100%;
      }
    }
  }
}
